body {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  background-image: url("https://i.imgur.com/xvzwXtu.jpg");
  background-repeat: repeat;
}

.landing-page {
  text-align: center;
}

.container {
  margin: 10px;
}

.search {
  font-size: 15px;
}

#search-zipcode {
  width: 100px;
}

/* Always set the map height explicitly to define the size 
   of the div element that contains the map.*/
.map {
  margin: 12px 0 12px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  transition: border-radius 2s ease-in-out;
  -webkit-transition: border-radius 2s ease-in-out;
}

.map-transition {
  transition: border-radius 2s ease-in-out;
  border-radius: 0;
}

main {
  height: 400px;
  width: 100%;
}

.modal {
  position: fixed;
  display: none;  /*Hidden by default */
  background-image: url('https://i.imgur.com/L8SFs6y.png');
  z-index: 1; /* Sit on top */
  top: 15%;
  left: 2%;
  width: 96%;
  overflow-x: auto; /* Enable scroll if needed */
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid darkgray;
  border-radius: 2px;
}

.blur-filter {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 3px 16px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  transition: transform .25s ease-in-out;
}

.exit-button:hover {
  color: white!important;
  background-color: #3C5875!important;
  transform: rotate(180deg);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.modal-header h2 {
  text-align: center;
  font-weight: bold;
}

.modal-header {
  position: inherit;
  width: 96%;
  background-image: url('https://i.imgur.com/LV2B9eB.png');
  color: #363636;
}

.shelter-results {
  background-image: url('https://i.imgur.com/L8SFs6y.png');
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 0;
}

.shelter-container a {
  font-size: 16px;
  font-weight: normal;
  line-height: 10px;
  color: #8EA2DB;
}

.shelter-container {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 8px 20px;
  text-decoration: none;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.shelter-container:hover {
  background-color: #DBDBDB;
  color: black;
}

.shelter-container a:hover {
  color: #1833F5;
  font-weight: bold;
}

header h1 {
  text-align: center;
  margin: 15px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 10px;
}

h3 {
  font-size: 12px;
  font-weight: normal;
  line-height:5px;
}

.pet-container img {
  max-width: auto;
  height: 160px;
  border-radius: 1%;
}

.pet-container {
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 0;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.pet-content {
  margin-top: 55px;
  text-align: center;
}

.nothing-to-show {
  text-align: center;
  margin: 10%;
}

/*------------Custom Scrollbar------------*/

/* Width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (min-width: 900px) {
  .modal {
    top: 20%;
    left: 9.5%;
    width: 80%
  }

  .modal-header {
    width: 80%;
  }

  .container {
    margin: 0px 100px 100px;
  }

  .map {
    margin: 20px 0 20px;
    width: 100%;
    height: 100%;
    transition: border-radius 2s ease-in-out;
    -webkit-transition: border-radius 2s ease-in-out;
  }

  main {
    height: 500px;
    width: 100%;
  }

  .search {
    font-size: 20px;
  }

  header h1 {
    font-size: 45px;
    margin: 8px;
  }
}