body {
  box-sizing: border-box;
}

.landing-page {
  text-align: center;
}

.container {
  margin: 30px;
}

/* Always set the map height explicitly to define the size 
   of the div element that contains the map.*/
.map {
  margin: 20px 0 20px;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 1;
}

main {
  height: 500px;
  width: 100%;
  /* border: 1px solid blue; */
}

.modal {
  position: absolute;
  display: none;  /*Hidden by default */
  z-index: 1; /* Sit on top */
  top: 25%;
  left: 25%;
  /* margin: 0 auto; */
  width: 250px;
  height: 200px;
  overflow: auto; /* Enable scroll if needed */
  border: 1px solid black;
  background: gainsboro;
}

.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  font-size: 20px;
}

.exit-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.modal-header {
  text-align: center;
}

.shelter-results {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 30px;
}

.shelter-container {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
}

.shelter-container:hover {
  background-color: khaki;
  color: black;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 12px;
  font-weight: normal;
}

.pet-container img {
  width: 70px;
}

/*.dropdownContent {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  display: block;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}*/

@media only screen and (min-width: 768px) {

  .container {
    margin: 100px;
  }
  .map {
    margin: 20px 0 20px;
    width: 100%;
    height: 100%;
  }

  main {
    height: 500px;
    width: 100%;
    /* border: 1px solid blue; */
  }

  .modal {
    /* display: none; */  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 300px; 
    top: 200px;
    width: 1000px; 
    height: 400px; 
    overflow: auto; /* Enable scroll if needed */
    white-space: nowrap;
    border: 1px solid black;
    background: grey;
  }

  .pet-container {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
}

